.LangbuttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  color: #2e324d;
  /* background-color: #b5651d; */
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  border-radius: 45%;
  width: 150px;
  height: 35px;
  margin-right: 5px;
}

@media only screen and (max-width: 1110px) {
    .LangbuttonDiv {
        
        margin-left: 5px;
        color: white;
        background-color: #b5651d;
        font-size: 15px;
        font-weight: bold;
        font-style: italic;
        border-radius: 45%;
        width: 150px;
        height: 35px;
        margin-right: 5px;
      }
  }
  @media only screen and (max-width: 898px) {
    .LangbuttonDiv {
        margin-left: 5px;
        color: white;
        background-color: grey;
        font-size: 15px;
        font-weight: bold;
        font-style: italic;
        border-radius: 45%;
        width: 150px;
        height: 35px;
        margin-right: 5px;
      }
    
  }
  @media only screen and (max-width: 466px) {
    .LangbuttonDiv {
        /* margin-left: 5px; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        color: black;
        background-color: white;
        font-size: 15px;
        font-weight: bold;
        font-style: italic;
        /* border-radius: 45%; */
        width: 90px;
        height: 35px;
        /* margin-right: 5px; */
      }
  }
  