.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  /* padding: 40px 0 0 0; */
  /* background-color: #1f2235; */
}
.About-me-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.About-me-part-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
}
.About-me-part-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  width: 45%;
  margin-left: 0;
}
.About-me-second {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  /* width: 45%; */
  /* margin-left: 0; */
}

.about-me-parent {
  max-width: 1000px;
  width: 70%;
  background-color: white;
}
.about-me-card {
  display: flex;
  width: 100%;
  box-shadow: 0 0px 20px -2px #1f2235;
  background-color: white;
}
.about-me-profile-img {
  width: 50%;
  height: 300px;
  margin-left: 90px;
  background-image: url("../../assets/AboutMe/Aboutme.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-me-details {
  width: 100%;
  text-align: justify;
  padding: 30px 30px 30px 0px;
}
.about-me-description {
  font-size: 15px;
}
.about-me-highlights {
  margin: 80px 0;
}
.highlght-heading {
  font-family: "Poppins Bold";
  font-size: 14px;
  margin: 0 0 5px 0;
}
.highlight {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 12px;
}
.highlight-blob {
  height: 12px;
  width: 12px;
  margin: 0 10px 0 0;
  background-color: #b5651d;
  border-radius: 50%;
}
.about-me-options {
  padding: 0;
}
.about-me-options .highlighted-btn1 {
  margin: 0 0 0 0px;
}
.about-me-options .highlighted-btn2 {
  margin: 0 0 0 30px;
}

.about-me-options .highlighted-btn {
  background-color: #b5651d;
}
.AboutmeWrapper {
  margin: auto;
  margin-top: 30px;
}
.AboutmeIcon {
  visibility: visible;
  color: white;
  font-size: 50px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 5px;
  /* padding:-9px; */
  /* padding: 15px; */
  /* margin-left: 4px; */
  /* margin-bottom: 8px; */
}
.AboutmeDescription {
  color: white;
  /* align-items:center; */

  font-size: 15px;
}

/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
  .about-me-parent {
    width: 90%;
    /* height: 100% */
  }
}
@media only screen and (max-width: 898px) {
  .about-me-profile-img {
    display: none;
  }
 
  .about-me-details {
    width: 100%;
  }
  
}
@media only screen and (max-width: 466px) {
  /* .about-me-options { */
    /* width: 300%; */
    /* padding: 10; */

    /* display: flex; */
    /* align-items: center;
    /* height: 0px; */
    /* justify-content: center; */
    /* flex-direction: column;  */
  /* } */
 
  .About-me-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0%;
  }
   .About-me-part-1 {
    width: 90%;
  }
  .About-me-part-2 {
    width: 90%;
  } 

  .about-me-details {
    width: 100%;
    text-align: justify;
    padding: 20px 20px 20px 20px;
  }
  .about-me-options .highlighted-btn {
    margin: 24px 0 0 0 !important;
  }
  .about-me-options button {
    width: 100%;
  }
}
