.certiContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* height: 100vh; */
  /* width: 100vh; */
}

.certiButton {
  /* min-width: 100px; */
  /* padding: 16px 32px; */
  /* border-radius: 4px; */
  border: white;
  background: #fff;
  color: #b5651d;
  /* font-size: 15px; */
  cursor: pointer;
}

.CertiHeading {
  background-color: white;
  padding-bottom: 1px;
}
.testimonial-section {
  padding: 0 0 80px;
  margin-top: 10px;
  background-image: url("../../../src/assets/Testimonial/bg-1.jpg");
  background-position: center;
  background-attachment: fixed;
  position: relative;
  /* z-index: -1; */
}
.testimonial-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.85;
  background-color: #1f2235;
}
.footer-image {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: -110px;
}
.footer-image img {
  max-width: 100%;
  height: 130px;
}

.testimonial-section .testi-item {
  background-color: white;
  /* width: 30%; */
  padding: 30px;
  border-radius: 50px 50px 50px 0px;
}

.testimonial-section .testi-item p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 0 0 0;
  text-align: justify;
  /* margin-left: 10px; */
  font-style: italic;
}
.testimonial-section .testi-item p .fa-quote-left {
  margin-right: 5px;
  color: #b5651d;
}
.testimonial-section .testi-item p .fa-quote-right {
  margin-left: 5px;
  color: #b5651d;
}
.testimonial-section .testi-comment {
  /* margin: 0 0 20px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.cert{
  display: flex;
  flex-direction: row;
  width: 22%;
  justify-content: center;
  align-items: center;
}

.testimonial-section .testi-comment .stars {
  margin: 0 0 20px;
}
.testimonial-section .testi-comment .stars li {
  display: inline-block;
  margin: 0 1px;
}
.testimonial-section .testi-comment .stars li i {
  font-size: 13px;
  color: #b5651d;
}
.testimonial-section .client-info {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  width: 200px;
  /* align-items: center; */
  /* position: relative; */
  /* padding-left: 80px; */
  /* padding-top: 5px; */
  /* margin-left: 20px; */
  /* margin-bottom: 20px; */
  min-height: 40px;
}
.testimonial-section .logo img {
  height: 70px;
  width: 70px;
  margin-top: 0;
  border: 2px solid transparent;
  border-color: #2e324d;
  /* left: 0; */
  top: 0;
  border-radius: 50%;
  /* position: absolute; */
}
.testimonial-section .testi-comment .para {
  /* margin-left: 20px; */
  width:75%;
}
/* .testimonial-section .testi-comment .para p{
font-size: 15px;
 } */

.testimonial-section .client-info h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 10px;
  margin-bottom: 2px;
  color: #2e324d;
}
.testimonial-section .client-info p {
  font-size: 9px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  margin-left: 10px;
  color: #b5651d;
}
.CertificateRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 200px;
  padding-right: 200px;
  /* flex-wrap: wrap; */
}
.CertificateWrapper {
  margin: auto;
  margin-top: 40px;
}
.certiwrapper {
  display: inline-flex;
  /* width: 30px;
  height: 5px; */
  /* background-color: #ffffff */
}

.certiwrapper .certiicon {
  position: relative;
  /* background-color: #ffffff; */
  border-radius: 0%;
  /* padding: 15px; */
  /* margin: 10px; */
  width: 100%;
  /* height: 0px; */
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.certiwrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.vertiwrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.certiwrapper .certiicon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  /* width: 80px; */
}

.certiwrapper .certiicon:hover span,
.wrapper .certiicon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.certiwrapper .blog:hover,
.certiwrapper .blog:hover .tooltip,
.certiwrapper .blog:hover .tooltip::before {
  /* background-color: #3b5999; */
  color: black;
}

/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
  .testimonial-section .testi-comment {
    /* margin: 0 0 20px; */
    /* display: flex; */
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: center; */
  }
  .CertificateRow {
    padding-left: 0px;
    padding-right: 0px;
    /* flex-wrap: wrap; */
  }
  .cert{ 
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: flex-start;
    align-items: center;
   /* width: 100%; */
   margin: 20px;
  }
  .testimonial-section .testi-item {
    background-color: white;
    /* width: 30%; */
    padding: 30px 0px 30px 0px;
    
    border-radius: 50px 50px 50px 0px;
  }
}
@media only screen and (max-width: 898px) {
}
@media only screen and (max-width: 300px) {
  .testimonial-section .testi-item {
    background-color: white;
    width: 80%;
    padding: 10px 0px 20px 0px;
    
    border-radius: 50px 50px 50px 0px;
  }
  .testimonial-section .testi-item p {
    font-size: 10px;
    line-height: 18px;
    font-weight: 400;
    margin: 0 0 0 0;
    text-align: left;
    margin-left: 10px;
    font-style: italic;
  }
  .CertificateWrapper {
    /* margin: auto; */
    margin-top: 40px;
}
.cert{
  display: flex;
  flex-direction: row;
  width: 22%;
  justify-content: center;
  align-items: center;
  /* padding-left: 20; */
}
}
